# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# AdMob
ADMOB_ANDROID_APP_ID=
ADMOB_IOS_APP_ID=
ADMOB_BANNER_ANDROID=
ADMOB_BANNER_IOS=

# RevenueCat
REVENUECAT_API_KEY_ANDROID=
REVENUECAT_API_KEY_IOS=

# EAS
EAS_PROJECT_ID=
